.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('/assets/Gridy.jpg') no-repeat center center fixed;
  background-size: cover;
}

.title h1 {
  color: #2ecc71;
  font-size: 4em;
}

.login-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.login-container h2 {
  color: white;
  font-size: calc(1em + 3pt);
  font-weight: bold;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  background: #2ecc71;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #27ae60;
}

.welcome-text {
  font-size: 1.5em; /* Makes text larger */
  color: #27ae60; /* Green color */
}

.footer p {
  font-size: calc(1em + 2pt);
  font-weight: bold;
  color: white;
}
