<!-- src>app>app.component.html -->
<div class="wrapper">
  <div class="title">
    <h1></h1>
    <p class="welcome-text">Welcome to Gridy to manage your crypto controls with your personal accounts and monitor your investments.</p>
  </div>
  <div class="login-container">
    <h2>If you already have an account</h2>
    <form>
      <input type="email" placeholder="E-mail/Username" required>
      <input type="password" placeholder="********" required>
      <button type="submit">LOGIN</button>
    </form>
    <button type="button">REGISTER NOW</button>
  </div>
</div>
