<div class="container-fluid">
  <div class="row">
    <!-- Sol menü -->
    <div class="col-md-2 sidebar">
      <nav>
        <ul>
          <li><a routerLink="/dashboard/home" class="logo">
              <img src="assets/logo.jpg" alt="">
              <span class="nav-item main-title">GRIDY</span>
            </a>
          </li>
          <li><a routerLink="/dashboard/home">
              <i class="fas fa-home"></i>
              <span class="nav-item">Home</span>
            </a></li>
          <li><a routerLink="/dashboard/new-strategy">
              <i class="fas fa-plus"></i>
              <span class="nav-item">New<br>Strategy</span>
            </a></li>
          <li><a routerLink="/dashboard/history-strategies">
              <i class="fas fa-tasks"></i>
              <span class="nav-item">History</span>
            </a></li>
          <li><a (click)="logout()">
              <i class="fas fa-sign-out-alt"></i>
              <span class="nav-item">Logout</span>
            </a></li>
        </ul>
      </nav>
    </div>
    <!-- Ana içerik alanı -->
    <div class="col-md-10 main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>